<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>

<script>
    const firebaseConfig = {
        apiKey: "AIzaSyAZkYKUoho8IlfGgkomNjO8IaWLsoG7xxc",
        authDomain: "getbooking-b90b9.firebaseapp.com",
        projectId: "getbooking-b90b9",
        storageBucket: "getbooking-b90b9.appspot.com",
        messagingSenderId: "396308433470",
        appId: "1:396308433470:web:7afe32589e93d12f951f6f"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>